@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@-webkit-keyframes tracking-in-contract-bck-bottom{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(300px);transform:translateZ(400px) translateY(300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-contract-bck-bottom{0%{letter-spacing:1em;-webkit-transform:translateZ(400px) translateY(300px);transform:translateZ(400px) translateY(300px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}


:root {
    --dark: #1c1c1e;
    --light: #e6e8eb;
    --white: #f5f5f7;
    --black: #121212;
    --accent: #0e1804;
}


body {
    background-color: var(--white);
    font-family: 'Nunito Sans', sans-serif;
}

#logowrap {
    background-color: var(--accent);
    height: 70px;
    width: 100%;
    border-radius: 10px;
    padding: 1px;
    display: flex;
    flex-direction: row;
    align-content: center;
}

#logo {
    width: 68px;
    height: 68px;
    border-radius: 10px;
    margin-left: 10px;
}

nav {
    display:flex;
    font-family: 'Nunito Sans';
    color: white;
    flex-direction: row;
    gap: 50px;
    align-self:center;
    justify-self: baseline;
}

#main {
    margin: 20px;
    display:flex;
    justify-self: center;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color: var(--light);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#Name {
    font-family: 'BBH Sans Bartle';
    font-size: 150px;
    display: flex;
    justify-self: center
}

.tracking-in-contract-bck-bottom{-webkit-animation:tracking-in-contract-bck-bottom 1s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-contract-bck-bottom 1s cubic-bezier(.215,.61,.355,1.000) both}